					 /*
					========	Style css	========
					*/


/*
========	Body	========
*/

body {
	background-color: #C3C3C3;
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 200px;
}
/*
.calcul-border {
	position: fixed;
	background: gray;
	display: block;
	width: 900px;
	height: 400px;
	margin: 0 auto;
	top: 10px;
	left: 175px;
}
*/
.calcul-border-2{
	background: white;
	width: 800px;
	height: 700px;
	margin: 0 auto;
	top: 30px;
	left: 75%;
	margin: 0 auto;
}

.calcul-border-3 {
	width: 250;
	height: 100;
	background: black;
	padding: 10px 100px 10px 100px;
	margin-left: 200px;
	margin-right: 200px;
	margin: 0 auto;
}
.spacing {
	text-align: center;
}


/*
========	Font	========
*/


h1 {
	font-family: 'Titillium Web', Bold;
	color: #1EBB06;
	text-align: center;
}

h2 {

}

p {
	color: #1EBB06;
	text-align: center;
}

button {
	
}
