
/*
=================
Media Queries
=================
*/
/*
@media screen and (min-width: 480px) {
    body {    }
}
@media screen and (min-width: 600px) {
    body {    }
}
@media screen and (min-width: 800px) {
    body {    }
}
@media screen and (min-width: 1020px) {
    body {    }
}
@media screen and (min-width: 1250px) {
    body {    }
}
@media screen and (min-width: 1400px) {
    body {    }
}
*/

/*
Body
*/
header {
    background: #000000;
}

/*
Font
*/

h1 {
    text-align: center;
    padding: 5px auto;
    font-family: 'Helvetica';
    color: #EF2121;
    font-size: 1px;
}
h6 {
    padding-top: 10px; 
}
.bigr {
    color: #2EAF0C;
    text-align: center;
    font-size: 75px;
    margin-bottom: -15px;
    margin-top: -10px;
}
p {
    text-align: center;
    padding: 5px;
    font-family: 'Impact';
    color: #FFFFFF;
    font-size: 20px;
}

button {
    padding: 1px 10px 1px 10px;
}

/*
Budget options display
*/

#grossIncomeSect {
    width: 25%;
    padding: 40px 0px 10px 0px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #000000;
    background: #F5F5F5;
}
#savingsSect {
    width: 20%;
    padding: 40px 40px 30px 40px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 0px;
    text-align: left;
    border: 2px solid #000000;
    background: #F5F5F5;
}
#collegeFundSect {
    width: 20%;
    padding: 40px 20px 30px 30px;
    margin-top: -10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: -50px;
    text-align: left;
    border: 2px solid #000000;
    background: #F5F5F5;
}
#vacationSect {
    width: 20%;
    padding: 40px 40px 30px 40px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: -10px;
    text-align: left;
    border: 2px solid #000000;
    background: #F5F5F5;
}
#set {
    margin-left: 10px;
    margin-right: 10px;
}
input {
    position: relative;
    margin: 10px;
}
